/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles and utilities */

body{
    font-family: 'Poppins', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 1050px;
    margin: 80px 0px;
}
button{
    font-style: normal;
    border: none;
    padding: 15px 24px;
    color: white;
    background-color:#E02C6D;
}
button a{
    text-decoration: none;
    color: white;
}

/* Copa America Intro Styles */

.header-area{
    width: 100%;
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}
.intro-section{
    width: 1139.01px;
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: repeat(2, 1fr);  
    grid-column-gap: 102px; */
}
.intro-title{
    width: 485px;
}
.intro-title h1{
    font-size: 64px;
    font-weight: bold;
    color: white;
}
.intro-image img{
    width: 556.01px;
}
/* .intro-title a{
    text-decoration: none;
    font-style: normal;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    color: white;
    background-color:#E02C6D;
} */

/* ----- Player's Card Style ------- */

.players{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    /* grid-template-columns: repeat(3, 1fr); */
}
.player{
    width: 330px;
    height: 474px;
    /* border: 1px solid red; */
    margin-bottom: 26px;
    box-shadow: 1px 1px 10px lightgrey;
}
.player-image{
    padding: 15px;
    /* display: flex;
    justify-content: center; */
}
.player img{
    width: 300px;
    height: 256px;
}
.player-information h3{
    color: #18191F;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin: 8px 0px;
}
.player-information details{
    color: #6C6C6C;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-top: 2px;
}

/* Highlight Match Area Styles */

.highlight-area{
    width: 1033px;
    height: 427px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.highlight-image img{
    width: 567px;
    height: 427px;
}
.highlight-details{
    padding: 20px;
}
.highlight-details h1{
    font-size: 48px;
    font-weight: bold;

}

/* Footer Area Styles */

.footer-area{
    width: 480px;
    border: 1px solid red;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}
.footer-area img{
    width: 400px;
}
.fab{
    color: gray;
}

/* responsive for mobile  */
@media (max-width: 480px) { 

    h1{
        font-size: 36px;
    }

    /* Copa America Intro Styles */
    .header-area{
        width: 100%;
        background-color: #2D25A0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 50px;
    }
    .intro-section{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        /* grid-template-columns: repeat(2, 1fr);  
        grid-column-gap: 102px; */
    }
    .intro-title{
        width: 300px;
        justify-items: center;
    }
    .intro-image{
        padding-top: 50px;
    }
    .intro-image img{
        width: 90%;
    }

    /* ----- Player's Card Style ------- */
    .container{
        width: 360px;
        margin: 50px 0px;
    }
    .players{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        /* grid-template-columns: repeat(3, 1fr); */
        padding-left: 10px;
    }

    
    /* Highlight Match Area Styles */

    .highlight-area{
        width: 360px;
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 80px;
        padding-left: 20px;
    }
    .highlight-image img{
        width: 328px;
        height: 248px;
    }
    .highlight-details{
        padding: 20px;
    }
    .highlight-details h1{
        font-size: 30px;
        font-weight: bold;
    }
    .footer-area{
        width: 360;
        border: 1px solid red;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr;
    }
    .footer-area img{
        width: 320px;
    }
    .fab{
        color: gray;
    }
}